{% extends "core/layout.html" %}
{% block div %}
<div id="content">

    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div id="page-header"
         style="background-image:url(/static/content/backgrounds/1920x250-3.jpg)">

        <div id="page-header-overlay"></div>

        <div class="row">
            <div class="span12">

                <h3>Продукты</h3>

            </div><!-- end .span12 -->
        </div><!-- end .row -->

    </div><!-- end #page-header -->
    <div class="row">
        <div class="span6">
            <img src="{{ url_for('static', filename='images/logo_marketing.png' ) }}">

            <h5 class="textwidget">Bpm'online marketing позволяет b2b и b2c компаниям определять потребности клиентов,
                оценивать зрелость и взращивать их до момента осуществления покупки.
                Встроенная интеграция с профессиональными email-сервисами UniOne и ElasticEmail позволяет отправлять
                письма миллионам получателей, а облачный коннектор к сервисам рассылок — расширять список провайдеров.
                Система поможет настроить точное время отправки письма и собрать отклики.
            </h5>
            <a class="btn btn-large" href="./marketing">Подробнее</a>
            <a class="btn btn-large btn-white" target="_blank" href="https://www.terrasoft.ru/trial?product=ru-marketing&uid=177382">Демо</a>
        </div>
        <div class="span6">
            <div class="videoWrapper">
                <iframe width="560" height="349" src="https://www.youtube.com/embed/WLHbdPD_V4E" frameborder="0"
                        allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
    <div class="divider single-line"></div>

    <div class="row">
        <div class="span6">
            <img src="{{ url_for('static', filename='images/logo_sales.png' ) }}">

            <h5 class="textwidget">Bpm’online sales — система для управления всем циклом продаж, от анализа потребности
                до заключения сделки, выполнения заказа и контроля оплат.
                По каждой продаже, вне зависимости от ее статуса, хранится полная история работы: активности, переписка,
                коммерческие предложения, обсуждения в ленте, файлы и комментарии. При анализе работы можно вернуться к
                любому этапу взаимоотношений с клиентом, опираясь на хронологию событий.
            </h5>
            <a class="btn btn-large" href="./sales">Подробнее</a>
            <a class="btn btn-large btn-white" target="_blank" href="https://www.terrasoft.ru/trial?product=sales&uid=177382">Демо</a>
        </div>
        <div class="span6">
            <div class="videoWrapper">
                <iframe width="560" height="349" src="https://www.youtube.com/embed/37soEPz8VfE" frameborder="0"
                        allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
    <div class="divider single-line"></div>

    <div class="row">
        <div class="span6">
            <img src="{{ url_for('static', filename='images/logo_service.png' ) }}">

            <h5 class="textwidget">Bpm'online service — готовые процессы управления сервисом по всем каналам
                коммуникаций.
                С помощью портала самообслуживания в Bpm'online service вы предоставляете своим клиентам возможность
                самостоятельно регистрировать обращения, проводить мониторинг хода работ и давать оперативную обратную
                связь по качеству сервиса.
                Регистрируйте все обращения от потребителей услуг в одном разделе системы. Система помогает определять
                ответственных и группы исполнителей, регламентировать временные рамки обработки и управлять
                коммуникациями по обращениям.
            </h5>
            <a class="btn btn-large" href="./service">Подробнее</a>
            <a class="btn btn-large btn-white" target="_blank" href="https://www.terrasoft.ru/trial?product=ru-service-enterprise&uid=177382">Демо</a>
        </div>
        <div class="span6">
            <div class="videoWrapper">
                <iframe width="560" height="349" src="https://www.youtube.com/embed/C21OlSWBolM" frameborder="0"
                        allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}