sales.html{% extends "core/layout.html" %}
{% block div %}
<div id="content">

    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                <li data-transition="fade">

                    <img src="{{ url_for('static', filename='content/slider/blue.jpg' ) }}" alt="">

                    <div class="caption title-2 sft"
                         data-x="60"
                         data-y="80"
                         data-speed="1000"
                         data-start="1000"
                         data-easing="easeOutExpo">
                        BPM'online marketing
                    </div>

                    <div class="caption subtitle alt sfl"
                         data-x="60"
                         data-y="250"
                         data-speed="1000"
                         data-start="1800"
                         data-easing="easeOutExpo">
                        Маркетинговая платформа для <br>управления идеальным путешествием клиента<br>
                    </div>
                    <div class="caption text sfl"
                         data-x="60"
                         data-y="320"
                         data-speed="1000"
                         data-start="1800"
                         data-easing="easeOutExpo">
                        CRM-система для управления мультиканальными коммуникациями.<br> Определяйте и взращивайте
                        потребности ваших клиентов, используя все доступные каналы!
                    </div>

                    <div class="caption sfb"
                         data-x="60"
                         data-y="460"
                         data-speed="1000"
                         data-start="2200"
                         data-easing="easeOutExpo">
                        <a class="btn btn-large btn-white" href="/contact">Заказать презентацию</a>
                    </div>

                    <div class="caption sfb"
                         data-x="370"
                         data-y="460"
                         data-speed="1000"
                         data-start="2500"
                         data-easing="easeOutExpo">
                        <a class="btn btn-large" target="_blank" href="https://www.terrasoft.ru/trial?product=ru-marketing&uid=177382">Демо</a>
                    </div>
                </li>
            </ul>

        </div><!-- end .fullwidthbanner -->
    </div>
    <div class="row">
        <div class="span6">
            <h3 style="width:90%;color: #fff; background-color: #77e73a; display: inline-block; padding: 14px 15px; margin: 0 0 10px 0;">
                Привлечение лидов</h3>

            <h3 style="width:90%;color: #fff; background-color: #19e5a6; display: inline-block; padding: 14px 15px; margin: 0 0 10px 0;">
                Квалификация</h3>

            <h3 style="width:90%;color: #fff; background-color: #3cccff; display: inline-block; padding: 14px 15px; margin: 0 0 10px 0;">
                Распределение</h3>

            <h3 style="width:90%;color: #fff; background-color: #af63fb; display: inline-block; padding: 14px 15px; margin: 0 0 10px 0;">
                Перевод в продажу</h3></div>

        <div class="span6">
            <div class="headline-2">
                <h3>Используйте готовые процессы для управления лидами</h3>
            </div>
            <h5 class="textwidget">Проведите ваших клиентов через все стадии воронки по взращиванию: от идентификации
                потребностей до перевода в продажу. С bpm’online marketing менеджеры по продажам смогут сфокусироваться
                только на квалифицированных, готовых к продаже лидах.</h5>

            <div class="headline-2">
                <h3>Ведите постоянный диалог с каждым клиентом</h3>
            </div>
            <h5 class="textwidget">Используйте инструменты email-маркетинга для непрерывного диалога с каждым клиентом.
                Оптимизируйте стратегию коммуникаций, анализируя отклик на рассылку.</h5>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="headline-2">
                <h2>Интерфейс, который любят пользователи</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h5 class="textwidget">Получайте удовольствие от работы в простом интерфейсе bpm’online marketing. Находите
                нужную функцию и информацию, не задумываясь — c приложением одинаково удобно работать на компьютере,
                планшете и смартфоне. Благодаря контекстному выводу информации на экране всегда будут находиться только
                те данные, которые важны для текущей задачи, фокусируя вас на сути.</h5>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <img class="responsive-img" src="{{ url_for('static', filename='content/index-6/device-2.png' ) }}">
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="headline">
                <h2>Обзор продукта</h2>
                <h4>Bpm’online marketing позволяет b2b и b2c компаниям определять потребности клиентов, оценивать
                    зрелость и взращивать их до момента осуществления покупки.</h4>

            </div><!-- end .headline -->

        </div><!-- end .span12 -->
    </div>
    <div class="row">
        <div class="span4"><img class="responsive-img"
                                src="{{ url_for('static', filename='content/index-6/small_screen1.png' ) }}">
            <h5 class="textwidget">С референтным процессом вы сможете пройти все этапы работы с потребностью клиента: от
                квалификации лида до старта продажи.<br></h5></div>
        <div class="span4"><img class="responsive-img"
                                src="{{ url_for('static', filename='content/index-6/small_screen2.png' ) }}"><h5
                class="textwidget">Используйте инструменты аналитики: быстро оценивайте динамику поступления новых лидов
            и эффективность их взращивания.<br></h5></div>
        <div class="span4"><img class="responsive-img"
                                src="{{ url_for('static', filename='content/index-6/small_screen3.png' ) }}"><h5
                class="textwidget">В bpm’online marketing вы можете сформировать целевую аудиторию и стартовать рассылку
            всего в несколько кликов.<br></h5></div>
    </div>
    <br>
    <div class="row">
        <div class="span12 text-center">

            <a class="btn btn-white btn-large" href="/contact">Заказать презентацию</a>
            <a class="btn btn-large" target="_blank" href="https://www.terrasoft.ru/trial?product=ru-marketing&uid=177382">Демо</a>

        </div><!-- end .span12 -->
    </div>
</div>
{% endblock %}