{% extends "core/layout.html" %}
{% block div %}
<div id="content">

    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                <li data-transition="fade">

                    <img src="{{ url_for('static', filename='content/slider/green.jpg' ) }}" alt="">


                    <div class="caption title-2 sft"
                         data-x="60"
                         data-y="80"
                         data-speed="1000"
                         data-start="1000"
                         data-easing="easeOutExpo">
                        BPM'online sales
                    </div>

                    <div class="caption subtitle alt sfl"
                         data-x="60"
                         data-y="250"
                         data-speed="1000"
                         data-start="1400"
                         data-easing="easeOutExpo">
                        Готовые процессы для больших продаж<br>
                    </div>
                    <div class="caption text sfl"
                         data-x="60"
                         data-y="310"
                         data-speed="1000"
                         data-start="1800"
                         data-easing="easeOutExpo">

                        CRM-система для профессионального управления продажами всех типов:<br>от коротких заказов до
                        длинных корпоративных сделок.
                    </div>

                    <div class="caption sfb"
                         data-x="60"
                         data-y="460"
                         data-speed="1000"
                         data-start="2200"
                         data-easing="easeOutExpo">
                        <a class="btn btn-large btn-white" href="/contact">Заказать презентацию</a>
                    </div>

                    <div class="caption sfb"
                         data-x="370"
                         data-y="460"
                         data-speed="1000"
                         data-start="2500"
                         data-easing="easeOutExpo">
                        <a class="btn btn-large" target="_blank" href="https://www.terrasoft.ru/trial?product=sales&uid=177382">Демо</a>
                    </div>
                </li>
            </ul>

        </div><!-- end .fullwidthbanner -->
    </div>
    <div class="row" id="info">
        <div class="span6">
            <h3 style="width:90%;color: #fff; background-color: #77e73a; display: inline-block; padding: 10px 15px; margin: 0 0 10px 0;">
                Привлечение </h3>
            <br>

            <h3 style="width:90%;color: #fff; background-color: #19e5a6; display: inline-block; padding: 10px 15px; margin: 0 0 10px 0;">
                Управление лидами</h3>

            <h3 style="width:90%;color: #fff; background-color: #3cccff; display: inline-block; padding: 10px 15px; margin: 0 0 10px 0;">
                Управление продажами</h3>

            <h3 style="width:90%;color: #fff; background-color: #af63fb; display: inline-block; padding: 10px 15px; margin: 0 0 10px 0;">
                Управление заказами</h3>

            <h3 style="width:90%;color: #fff; background-color: #ff8522; display: inline-block; padding: 10px 15px; margin: 0 0 10px 0;">
                Управление сервисом</h3></div>
        <div class="span6">
            <div class="headline-2">
                <h3>Используйте готовые процессы продаж</h3>
            </div>
            <h5 class="textwidget">Работа в bpm’online sales — это всегда работа по эталонному процессу продаж.
                Управляйте вашими лидами,
                сделками, заказами и счетами, следуя заложенному в систему бизнес-процессу, который отражает лучшую
                практику продаж с учетом типа и канала продаж.
                <br>
                Опыт пользователей bpm’online sales подтверждает — в основе больших результатов всегда лежит верно
                выстроенный процесс.</h5>

            <div class="headline-2">
                <h3>Управляйте путешествием клиента</h3>
            </div>
            <h5 class="textwidget">Используя CRM-продукты на платформе bpm’online, проведите клиента по полной воронке
                продаж — от знакомства с продуктом до выполнения заказа и обслуживания.</h5>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="headline-2">
                <h2>Интерфейс, который любят пользователи</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h5 class="textwidget">Получайте удовольствие от работы в простом интерфейсе bpm’online sales. Находите
                нужную функцию и информацию, не задумываясь — c приложением одинаково удобно работать на компьютере,
                планшете и смартфоне. Благодаря контекстному выводу информации на экране всегда будут находиться только
                те данные, которые важны для текущей задачи, фокусируя вас на сути.</h5>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <img class="responsive-img" src="{{ url_for('static', filename='content/index-6/device-1.jpg' ) }}">
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="headline">
                <h2>Обзор продукта</h2>
                <h4>Bpm’online sales — система для управления всем циклом продаж,
                    от анализа потребности до заключения сделки, выполнения заказа и контроля оплат.</h4>

            </div><!-- end .headline -->

        </div><!-- end .span12 -->
    </div>
    <div class="row">
        <div class="span4"><h5 class="textwidget">С помощью системы вы сможете легко управлять воронкой продаж и
            корректировать тактику
            сделок, следуя референтному процессу.<br></h5></div>
        <div class="span4"><h5 class="textwidget">С помощью дэшбордов вы будете отслеживать «пульс продаж» в любой
            момент
            — в систему заложены все необходимые метрики для принятия верных управленческих решений.<br></h5></div>
        <div class="span4"><h5 class="textwidget">В bpm’online sales вы сможете создавать продажи и оформлять заказы
            всего в несколько кликов, а также гибко управлять полевыми сотрудниками.<br></h5></div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="headline">
                <h3>Выберите оптимальный пакет bpm’online sales для решения ваших задач</h3>
            </div><!-- end .headline -->

        </div><!-- end .span12 -->
    </div>
    <div class="row">
        <div class="span4">

            <div class="pricing-table">

                <div class="pricing-table-header">

                    <h4>Team</h4>
                    <h6>Для небольших компаний с прямыми длинными продажами</h6>

                </div><!-- end .pricing-table-header -->

                <h1>
                    950
                    <span>руб.</span>
                    <small>1 пользователь / месяц</small>
                </h1>

                <div class="pricing-table-offer">
                    <ul>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Управление коммуникациями
                        </li>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Управление бизнес-процессами
                        </li>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Мобильное приложение
                        </li>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Аналитика
                        </li>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Синхронизация и импорт из других систем
                        </li>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Дизайнер системы
                        </li>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Управление продажами
                        </li>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Референтный процесс корпоративных продаж
                        </li>
                        <li>
                            <i class="ifc-cancel"></i>
                            Управление заказами и счетами
                        </li>
                        <li>
                            <i class="ifc-cancel"></i>
                            Планирование продаж
                        </li>
                        <li>
                            <i class="ifc-cancel"></i>
                            Управление договорами
                        </li>
                        <li>
                            <i class="ifc-cancel"></i>
                            Управление продуктовым каталогом и подбором продуктов
                        </li>
                        <li>
                            <i class="ifc-cancel"></i>
                            Управление проектами
                        </li>
                        <li>
                            <i class="ifc-cancel"></i>
                            Управление полевыми продажами
                        </li>

                    </ul>

                </div><!-- end .pricing-table-offer -->

                <a class="btn" target="_blank" href="https://www.terrasoft.ru/trial?product=ru-sales-team&uid=177382">Демо</a>

            </div><!-- end .pricing-table -->

        </div>
        <div class="span4">

            <div class="pricing-table">

                <div class="pricing-table-header">

                    <h4>Commerce</h4>
                    <h6>Для компаний с коротким циклом продаж и e-commerce <br></h6>

                </div><!-- end .pricing-table-header -->

                <h1>
                    1 250
                    <span>руб.</span>
                    <small>1 пользователь / месяц</small>
                </h1>

                <div class="pricing-table-offer">
                    <ul>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Управление коммуникациями
                        </li>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Управление бизнес-процессами
                        </li>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Мобильное приложение
                        </li>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Аналитика
                        </li>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Синхронизация и импорт из других систем
                        </li>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Дизайнер системы
                        </li>
                        <li>
                            <i class="ifc-cancel"></i>
                            Управление продажами
                        </li>
                        <li>
                            <i class="ifc-cancel"></i>
                            Референтный процесс корпоративных продаж
                        </li>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Управление заказами и счетами
                        </li>
                        <li>
                            <i class="ifc-cancel"></i>
                            Планирование продаж
                        </li>
                        <li>
                            <i class="ifc-cancel"></i>
                            Управление договорами
                        </li>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Управление продуктовым каталогом и подбором продуктов
                        </li>
                        <li>
                            <i class="ifc-cancel"></i>
                            Управление проектами
                        </li>
                        <li>
                            <i class="ifc-cancel"></i>
                            Управление полевыми продажами
                        </li>

                    </ul>
                </div><!-- end .pricing-table-offer -->

                <a class="btn" target="_blank" href="https://www.terrasoft.ru/trial?product=ru-sales-commerce&uid=177382">Демо</a>

            </div><!-- end .pricing-table -->

        </div>
        <div class="span4">

            <div class="pricing-table">

                <div class="pricing-table-header">

                    <h4>Enterprise</h4>
                    <h6>Для крупных компаний с большим количеством различных каналов продаж
                    </h6>

                </div><!-- end .pricing-table-header -->

                <h1>
                    2 500
                    <span>руб.</span>
                    <small>1 пользователь / месяц</small>
                </h1>

                <div class="pricing-table-offer">

                    <ul>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Управление коммуникациями
                        </li>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Управление бизнес-процессами
                        </li>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Мобильное приложение
                        </li>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Аналитика
                        </li>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Синхронизация и импорт из других систем
                        </li>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Дизайнер системы
                        </li>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Управление продажами
                        </li>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Референтный процесс корпоративных продаж
                        </li>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Управление заказами и счетами
                        </li>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Планирование продаж
                        </li>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Управление договорами
                        </li>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Управление продуктовым каталогом и подбором продуктов
                        </li>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Управление проектами
                        </li>
                        <li>
                            <i class="ifc-checkmark"></i>
                            Управление полевыми продажами
                        </li>

                    </ul>

                </div><!-- end .pricing-table-offer -->

                <a class="btn" target="_blank" href="https://www.terrasoft.ru/trial?product=sales&uid=177382">Демо</a>

            </div><!-- end .pricing-table -->

        </div>
    </div>
</div>
{% endblock %}