{% extends "core/layout.html" %}
{% block div %}
<div id="content">

    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                <li data-transition="fade">

                    <img src="{{ url_for('static', filename='content/slider/orange.jpg' ) }}" alt="">

                    <div class="caption title-2 sft"
                         data-x="60"
                         data-y="80"
                         data-speed="1000"
                         data-start="1000"
                         data-easing="easeOutExpo">
                        BPM'online service
                    </div>
                    <div class="caption subtitle alt sfl"
                         data-x="60"
                         data-y="250"
                         data-speed="1000"
                         data-start="1400"
                         data-easing="easeOutExpo">
                        Эталонные процессы для безупречного сервиса
                    </div>
                    <div class="caption text sfl"
                         data-x="60"
                         data-y="310"
                         data-speed="1000"
                         data-start="1800"
                         data-easing="easeOutExpo">
                        Bpm’online service — готовые процессы управления сервисом по всем каналам коммуникаций
                    </div>

                    <div class="caption sfb"
                         data-x="60"
                         data-y="460"
                         data-speed="1000"
                         data-start="2200"
                         data-easing="easeOutExpo">
                        <a class="btn btn-large btn-white" href="/contact">Заказать презентацию</a>
                    </div>

                    <div class="caption sfb"
                         data-x="370"
                         data-y="460"
                         data-speed="1000"
                         data-start="2500"
                         data-easing="easeOutExpo">
                        <a class="btn btn-large" target="_blank"
                           href="https://www.terrasoft.ru/trial?product=ru-service-enterprise&uid=177382">Демо</a>
                    </div>
                </li>
            </ul>

        </div><!-- end .fullwidthbanner -->
    </div>
    <div class="row">
        <div class="span6">
            <div class="headline">
                <h3>Сustomer center</h3>
                <h4>Управление клиентским сервисом</h4>
                <h6>Для компаний, которые
                    хотят автоматизировать работу
                    с обращениями клиентов
                </h6>
            </div>

        </div>
        <div class="span6">
            <div class="headline">
                <h3>Service enterprise</h3>
                <h4>Единый центр обслуживания.</h4>

                <h6>Для средних и крупных компаний,
                    которые хотят организовать обслуживание клиентов
                    и внутренних бизнес-подразделений предприятия
                    с учетом рекомендаций ITIL
                </h6>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="span12">
            <div class="headline-2">
                <h3>Используйте готовые процессы</h3>
            </div>
            <h5>Bpm’online service — это всегда работа по эталонным процессам согласно лучшим практикам. Управляйте
                обращениями и автоматизируйте регламенты обслуживания, следуя заложенным в систему
                бизнес-процессам.</h5>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="headline-2">
                <h3>Управляйте омниканальными коммуникациями</h3>
            </div>
            <h5>Используя bpm’online service, выстраивайте персональные коммуникации с клиентами — объедините в
                едином окне системы все обращения вне зависимости от канала поступления запроса: телефон,
                e-mail, чат, социальные сети или клиентский портал.
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="headline-2">
                <h2>Интерфейс, который любят пользователи</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h5 class="textwidget">Получайте удовольствие от работы в простом интерфейсе bpm’online service.
                Находите нужную функцию и информацию, не задумываясь — c приложением одинаково удобно работать
                на компьютере, планшете и смартфоне.</h5>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <img class="responsive-img" src="{{ url_for('static', filename='content/index-6/device-3.png' ) }}">
        </div>
    </div>
    <br>

    <div class="row">
        <div class="span12 text-center">

            <a class="btn btn-white btn-large" href="/contact">Заказать презентацию</a>
            <a class="btn btn-large" target="_blank"
               href="https://www.terrasoft.ru/trial?product=ru-service-enterprise&uid=177382">Демо</a>

        </div><!-- end .span12 -->
    </div>
</div>
{% endblock %}