{% extends "core/layout.html" %}
{% block div %}
<div id="content">
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                <li data-transition="fade">
                    <img src="{{ url_for('static', filename='content/slider/1920x650-4.jpg' ) }}" alt="">

                    <div class="caption title-2 sft"
                         data-x="60"
                         data-y="80"
                         data-speed="1000"
                         data-start="1000"
                         data-easing="easeOutExpo">
                        ByteCode
                    </div>
                    <div class="caption text sfl"
                         data-x="60"
                         data-y="250"
                         data-speed="1000"
                         data-start="1800"
                         data-easing="easeOutExpo">
                        ByteCode — динамически развивающаяся команда профессионалов,<br>которая занимается проектами
                        внедрения CRM-систем на платформе<br> bpm’online на рынке СНГ. Главная цель компании — получение
                        каждым<br> клиентом нашей компании максимальной выгоды от использования <br>системы за
                        минимальные
                        сроки.
                    </div>
                    <div class="caption sfb"
                         data-x="60"
                         data-y="460"
                         data-speed="1000"
                         data-start="2200"
                         data-easing="easeOutExpo">
                        <a class="btn btn-large btn-white" href="/services">Проект внедрения</a>
                    </div>
                </li>
                <li data-transition="fade">
                    <img src="{{ url_for('static', filename='content/slider/green.jpg' ) }}" alt="">

                    <div class="caption title-2 sft"
                         data-x="60"
                         data-y="80"
                         data-speed="1000"
                         data-start="1000"
                         data-easing="easeOutExpo">
                        BPM'online sales
                    </div>
                    <div class="caption subtitle alt sfl"
                         data-x="60"
                         data-y="250"
                         data-speed="1000"
                         data-start="1400"
                         data-easing="easeOutExpo">
                        Готовые процессы для больших продаж<br>
                    </div>
                    <div class="caption text sfl"
                         data-x="60"
                         data-y="310"
                         data-speed="1000"
                         data-start="1800"
                         data-easing="easeOutExpo">
                        CRM-система для профессионального управления продажами всех типов:<br>от коротких заказов до
                        длинных корпоративных сделок.
                    </div>
                    <div class="caption sfb"
                         data-x="60"
                         data-y="460"
                         data-speed="1000"
                         data-start="2200"
                         data-easing="easeOutExpo">
                        <a class="btn btn-large btn-white" href="/contact">Заказать презентацию</a>
                    </div>
                    <div class="caption sfb"
                         data-x="370"
                         data-y="460"
                         data-speed="1000"
                         data-start="2500"
                         data-easing="easeOutExpo">
                        <a class="btn btn-large" href="/products/sales">Подробнее</a>
                    </div>
                </li>
                <li data-transition="fade">
                    <img src="{{ url_for('static', filename='content/slider/blue.jpg' ) }}" alt="">

                    <div class="caption title-2 sft"
                         data-x="60"
                         data-y="80"
                         data-speed="1000"
                         data-start="1000"
                         data-easing="easeOutExpo">
                        BPM'online marketing
                    </div>
                    <div class="caption subtitle alt sfl"
                         data-x="60"
                         data-y="250"
                         data-speed="1000"
                         data-start="1800"
                         data-easing="easeOutExpo">
                        Маркетинговая платформа для <br>управления идеальным путешествием клиента<br>
                    </div>
                    <div class="caption text sfl"
                         data-x="60"
                         data-y="320"
                         data-speed="1000"
                         data-start="1800"
                         data-easing="easeOutExpo">
                        CRM-система для управления мультиканальными коммуникациями.<br> Определяйте и взращивайте
                        потребности ваших клиентов, используя все доступные каналы!
                    </div>

                    <div class="caption sfb"
                         data-x="60"
                         data-y="460"
                         data-speed="1000"
                         data-start="2200"
                         data-easing="easeOutExpo">
                        <a class="btn btn-large btn-white" href="/contact">Заказать презентацию</a>
                    </div>

                    <div class="caption sfb"
                         data-x="370"
                         data-y="460"
                         data-speed="1000"
                         data-start="2500"
                         data-easing="easeOutExpo">
                        <a class="btn btn-large" href="/products/marketing">Подробнее</a>
                    </div>
                </li>
                <li data-transition="fade">

                    <img src="{{ url_for('static', filename='content/slider/orange.jpg' ) }}" alt="">

                    <div class="caption title-2 sft"
                         data-x="60"
                         data-y="80"
                         data-speed="1000"
                         data-start="1000"
                         data-easing="easeOutExpo">
                        BPM'online service
                    </div>
                    <div class="caption subtitle alt sfl"
                         data-x="60"
                         data-y="250"
                         data-speed="1000"
                         data-start="1400"
                         data-easing="easeOutExpo">
                        Эталонные процессы для безупречного сервиса
                    </div>
                    <div class="caption text sfl"
                         data-x="60"
                         data-y="310"
                         data-speed="1000"
                         data-start="1800"
                         data-easing="easeOutExpo">
                        Bpm’online service — готовые процессы управления сервисом по всем каналам коммуникаций
                    </div>

                    <div class="caption sfb"
                         data-x="60"
                         data-y="460"
                         data-speed="1000"
                         data-start="2200"
                         data-easing="easeOutExpo">
                        <a class="btn btn-large btn-white" href="/contact">Заказать презентацию</a>
                    </div>

                    <div class="caption sfb"
                         data-x="370"
                         data-y="460"
                         data-speed="1000"
                         data-start="2500"
                         data-easing="easeOutExpo">
                        <a class="btn btn-large" href="/products/service">Подробнее</a>
                    </div>
                </li>
            </ul>

        </div><!-- end .fullwidthbanner -->
    </div><!-- end .fullwidthbanner-container -->

    <div class="row">
        <div class="span12">

            <div class="headline">

                <h2>Услуги</h2>
                <h6>Что мы предлагаем:</h6>

            </div><!-- end .headline -->

        </div><!-- end .span12 -->
    </div><!-- end .row -->

    <div class="row">
        <div class="span6">

            <div class="icon-box-2">

                        <span>
                        	<i class="ifc-database_encryption"></i>
                        </span>

                <div class="icon-box-content">

                    <h4>
                        <a href="/products">Продажа лицензий</a>
                    </h4>

                    <p style="height: 48px">Продажа готовых продуктов на платформе bpm'online</p>

                    <a class="btn btn-white alt" href="/products">Подробнее</a>

                </div><!-- end .icon-box-content -->

            </div><!-- end .icon-box-2 -->

        </div><!-- end .span4 -->

        <div class="span6">

            <div class="icon-box-2">

                        <span>
                        	<i class="ifc-settings2"></i>
                        </span>

                <div class="icon-box-content">

                    <h4>
                        <a href="/services">CRM-система под ключ</a>
                    </h4>

                    <p style="height: 48px">Создаём эффективные решения с учётом индивидуальной специфики вашего
                        бизнеса</p>

                    <a class="btn btn-white alt" href="/services">Подробнее</a>

                </div><!-- end .icon-box-content -->

            </div><!-- end .icon-box-2 -->

        </div><!-- end .span3 -->

        <!-- end .span3 -->
    </div><!-- end .row -->

    <br>

    <div class="row">
        <div class="span12">

            <div class="headline">

                <h2>Преимущества CRM-системы bpm'online</h2>

            </div><!-- end .headline -->

        </div><!-- end .span12 -->
    </div><!-- end .row -->

    <div class="row">
        <div class="span6">

            <p class="text-center">
                <img class="responsive-img show-large-only" data-animation="pulse"
                     src="{{ url_for('static', filename='content/index-6/device.jpg' ) }}"
                     alt="">
            </p>

        </div><!-- end .span6 -->
        <div class="span6">
            <div class="headline-2">

                <h3>Процессы</h3>

            </div>
            <p>Готовые бизнес-процессы на основе мирового опыта</p>

            <div class="headline-2">

                <h3>Платформа</h3>

            </div>
            <p>Единая платформа для маркетинга, продаж и сервиса</p>

            <div class="headline-2">

                <h3>Удобство</h3>

            </div>
            <p>Интерфейс, который любят пользователи</p>

            <div class="headline-2">

                <h3>Интеграции</h3>

            </div>
            <p>Возможность интеграции с сайтом, телефонией, 1С</p>

            <div class="headline-2">

                <h3>Гибкость</h3>

            </div>
            <p>Настройка и создание разделов системы без программирования</p>
        </div><!-- end .span3 -->
    </div><!-- end .row -->

    <div class="row">
        <div class="span12">

            <div class="headline">

                <h2>Новости</h2>

            </div><!-- end .headline -->

        </div><!-- end .span12 -->
    </div><!-- end .row -->

    <div class="row">

        {% for post in posts %}
        <div class="span6">
            <div class="blog-post">

                <div class="blog-post-thumb">

                    <img src="/get_img/{{post._id}}" alt="">

                    <div class="blog-post-info">

                        {{post.day}}
                        <small>{{post.month}}</small>

                    </div><!-- end .blog-post-info -->

                </div><!-- end .blog-post-thumb -->

                <div class="blog-post-title">

                    <h4>
                        <a href="blog-post.html">{{post.title}}</a>
                    </h4>

                </div><!-- end .blog-post-title -->

                <p class="textwidget">{{post.text}} </p>

                <a class="btn" href="/blog/{{post._id}}">Подробнее</a>

            </div><!-- end .blog-post -->
        </div>
        {% endfor %}

        <!-- end .span12 -->

    </div>
    <div class="row">
        <div class="span12 text-center">

            <a class="btn btn-large" href="/blog">Все новости</a>

        </div><!-- end .span12 -->
    </div>
</div>
<div id="portfolio">

    <div class="row">
        <div class="span12">

            <div class="headline">

                <h2>Портфолио</h2>
                <h6>Наши последние проекты</h6>

            </div><!-- end .headline -->

        </div><!-- end .span12 -->
    </div><!-- end .row -->

    <div class="row">
        <div class="span4">

            <div class="portfolio-item">

                <div class="portfolio-item-preview">

                    <img src="https://www.terrasoft.ru/sites/default/files/styles/partner_dtl_logo_new/public/customers/logo/logotipess.png?itok=4qoy_WRa"
                         alt="">

                    <div class="portfolio-item-overlay"></div>

                    <div class="portfolio-item-overlay-actions">


                        <a class="portfolio-item-link" href="/clients/ecc">
                            <span>&gt;</span>
                        </a>

                    </div><!-- end .portfolio-item-overlay-actions -->

                </div><!-- end .portfolio-item-preview -->

                <div class="portfolio-item-description">

                    <h5>ECC</h5>

                </div><!-- end .portfolio-item-description -->

            </div><!-- end .portfolio-item -->

        </div><!-- end .span3 -->
        <div class="span4">

            <div class="portfolio-item">

                <div class="portfolio-item-preview">

                    <img src="https://www.terrasoft.ru/sites/default/files/styles/partner_dtl_logo_new/public/customers/logo/logo_indreamsphuket_var2.png?itok=0VGRMPBr"
                         alt="">

                    <div class="portfolio-item-overlay"></div>

                    <div class="portfolio-item-overlay-actions">


                        <a class="portfolio-item-link" href="/clients/indreamsphuket">
                            <span>&gt;</span>
                        </a>

                    </div><!-- end .portfolio-item-overlay-actions -->

                </div><!-- end .portfolio-item-preview -->

                <div class="portfolio-item-description">

                    <h5>InDreams Phuket</h5>

                </div><!-- end .portfolio-item-description -->

            </div><!-- end .portfolio-item -->

        </div><!-- end .span3 -->
        <div class="span4">

            <div class="portfolio-item">

                <div class="portfolio-item-preview">

                    <img src="https://www.terrasoft.ru/sites/default/files/styles/partner_dtl_logo_new/public/customers/logo/logo_cpp.png?itok=GQuES97x"
                         alt="">

                    <div class="portfolio-item-overlay"></div>

                    <div class="portfolio-item-overlay-actions">


                        <a class="portfolio-item-link" href="/clients/cpp">
                            <span>&gt;</span>
                        </a>

                    </div><!-- end .portfolio-item-overlay-actions -->

                </div><!-- end .portfolio-item-preview -->

                <div class="portfolio-item-description">

                    <h5>ЦПП</h5>

                </div><!-- end .portfolio-item-description -->

            </div><!-- end .portfolio-item -->

        </div><!-- end .span3 -->

    </div>
    <div class="row">
        <div class="span4">

            <div class="portfolio-item">

                <div class="portfolio-item-preview">

                    <img src="{{ url_for('static', filename='content/portfolio/biona.jpg' ) }}"
                         alt="" height="304">

                    <div class="portfolio-item-overlay"></div>

                    <div class="portfolio-item-overlay-actions">


                        <a class="portfolio-item-link" href="/clients/biona">
                            <span>&gt;</span>
                        </a>

                    </div><!-- end .portfolio-item-overlay-actions -->

                </div><!-- end .portfolio-item-preview -->

                <div class="portfolio-item-description">

                    <h5>Биона</h5>

                </div><!-- end .portfolio-item-description -->

            </div><!-- end .portfolio-item -->

        </div><!-- end .span3 -->
        <div class="span4">

            <div class="portfolio-item">

                <div class="portfolio-item-preview">

                    <img src="{{ url_for('static', filename='content/portfolio/pravo.png' ) }}"
                         alt="" height="304">

                    <div class="portfolio-item-overlay"></div>

                    <div class="portfolio-item-overlay-actions">


                        <a class="portfolio-item-link" href="/clients/pravo">
                            <span>&gt;</span>
                        </a>

                    </div><!-- end .portfolio-item-overlay-actions -->

                </div><!-- end .portfolio-item-preview -->

                <div class="portfolio-item-description">

                    <h5>ПРАВО РУ</h5>

                </div><!-- end .portfolio-item-description -->

            </div><!-- end .portfolio-item -->

        </div><!-- end .span3 -->
        <div class="span4">

            <div class="portfolio-item">

                <div class="portfolio-item-preview">

                    <img src="{{ url_for('static', filename='content/portfolio/teсhnokom.jpg' ) }}"
                         alt="" height="304">

                    <div class="portfolio-item-overlay"></div>

                    <div class="portfolio-item-overlay-actions">


                        <a class="portfolio-item-link" href="/clients/technokom">
                            <span>&gt;</span>
                        </a>

                    </div><!-- end .portfolio-item-overlay-actions -->

                </div><!-- end .portfolio-item-preview -->

                <div class="portfolio-item-description">

                    <h5>ТехноКом</h5>

                </div><!-- end .portfolio-item-description -->

            </div><!-- end .portfolio-item -->

        </div><!-- end .span3 -->

    </div>
</div>


<br>
</div>
{% endblock %}