<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,requiresActiveX=true">
    <title>ByteCode - интегратор онлайн CRM систем на платформе BPM'online</title>
    <meta name="description"
          content="Bytecode - внедрение, доработки и сопровождение онлайн CRM систем на платформе BPM'online">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico' ) }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{{ url_for('static', filename='images/apple-icon-144x144.png' ) }}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nifty.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome/font-awesome.min.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/iconfontcustom/icon-font-custom.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/elements.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/revolutionslider/css/settings.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/revolutionslider/css/custom.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/bxslider/jquery.bxslider.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/magnificpopup/magnific-popup.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/animations/animate.min.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/revolutionslider/css/settings.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/itplayer/css/YTPlayer.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wide.css' ) }}" id="integrity-layout">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skins/default.css' ) }}" id="integrity-skin">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/switcher/switcher.css' ) }}">
    <!— Yandex.Metrika counter —>
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter47409610 = new Ya.Metrika2({
                        id: 47409610,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true,
                        webvisor: true,
                        trackHash: true
                    });
                } catch (e) {
                }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () {
                        n.parentNode.insertBefore(s, n);
                    };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else {
                f();
            }
        })(document, window, "yandex_metrika_callbacks2");
    </script>
    <!— /Yandex.Metrika counter —>
</head>
<body class="sticky-header">
<div class="se-pre-con"></div>
<script src="{{ url_for('static', filename='js/switcher/readcookies.js' ) }}"></script>

<!--[if lte IE 8]>
<div class="modern-browser-required">
    Вы используете <strong>устаревший</strong> браузер. Пожалуйста,
    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">обновите свой браузер</a>
    для корректной работы сайта.
</div>
<![endif]-->

<div id="wrap" class="container">
    <h1 style="display: none">ByteCode - интегратор онлайн CRM систем на платформе BPM'online</h1>

    <div id="header-top">
        <div class="row">
            <div class="span4" id="header-top-widget-area-1"></div>
            <div class="span8" id="header-top-widget-area-2" style="float:right;">
                <div class="widget ewf_widget_contact_info">
                    <ul>
                        <li>
                            	<span>
                                	<i class="ifc-phone1"></i>
                                </span>
                            <a href="tel:+78462007762" itemprop="telephone">+7 (846) 200 77 62</a>
                        </li>
                        <li>
                            	<span>
                                	<i class="ifc-message"></i>
                                </span>
                            <a href="mailto:info@bytecodecrm.ru" itemprop="email">info@bytecodecrm.ru</a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="header">
        <div class="row">
            <div class="span4">
                <a href="/" id="logo">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="250px" height="40px" viewBox="0 0 161 31" style="enable-background:new 0 0 161 31;" xml:space="preserve">
<style type="text/css">
	.st0 {
        fill: #00151D;
    }

    .st1 {
        fill: #41505E;
    }

    .st2 {
        fill: #03161E;
    }

    .st3 {
        fill: none;
    }
</style>
<g transform="scale(1.1,1.0)">
	<path class="st0" d="M26.7,11.1c0-4.8-3.7-8.6-8.5-8.6H4.3L2.2,0.5H0.7l5.9,5.9v0h11.5c2.7,0,4.7,2.1,4.6,4.7c0,2.1-1.2,3.8-3,4.4
		c1.9,0.6,3,2.3,3,4.4c0,2.6-1.9,4.7-4.6,4.7H6.7v0l-5.9,5.9h1.5l2.1-2.1h13.9c4.8,0,8.5-3.8,8.5-8.6c0-1.6-0.4-3.1-1.2-4.4
		C26.3,14.3,26.7,12.8,26.7,11.1z"/>
	<path class="st1" d="M18.2,15.8l-5.4,0c-0.3,0-0.3-0.5,0-0.5h1.8l3.6,0c2.4,0,4.1-1.8,4.1-4.1c0-2.3-1.7-4.2-4.1-4.2h-11l3.9,3.9
		h7.1c0.3,0,0.3,0.5,0,0.5h-3.6v0h-1.8c-2.4,0-4.1,1.8-4.1,4.2s1.7,4.2,4.1,4.2l5.4,0c0.3,0,0.3,0.5,0,0.5h-7.1l-3.9,3.9h11
		c2.4,0,4.1-1.8,4.1-4.2C22.3,17.6,20.6,15.8,18.2,15.8z"/>
	<g>
		<path class="st1" d="M47.5,7.3l-8,10.8v6.5h-3.2v-6.5c-2.5-3.4-5.5-7.4-8-10.8h3.8l5.8,7.3l5.8-7.3H47.5z"/>
		<path class="st1" d="M65.1,7.3v3.2h-7v14.1h-3.2V10.4h-7.1V7.3H65.1z"/>
		<path class="st1" d="M82.8,10.4H70.1v3.9h10.2v3.2H70.1v3.9h12.7v3.2H66.9V7.3h15.9V10.4z"/>
		<path class="st2" d="M88.6,10.4c-0.1,0-0.2,0.1-0.2,0.2v10.6c0,0.1,0.1,0.2,0.2,0.2h13.9v3.2H88.6c-1.8,0-3.3-1.5-3.3-3.3V10.6
			c0-1.8,1.5-3.3,3.3-3.3h13.9v3.2H88.6z"/>
		<path class="st2" d="M118.9,7.3c1.8,0,3.3,1.5,3.3,3.3v10.6c0,1.8-1.5,3.3-3.3,3.3h-10.6c-1.8,0-3.3-1.5-3.3-3.3V10.6
			c0-1.8,1.5-3.3,3.3-3.3H118.9z M118.9,21.4c0.1,0,0.1-0.1,0.1-0.2V10.6c0-0.1-0.1-0.2-0.1-0.2h-10.6c-0.1,0-0.2,0.1-0.2,0.2v10.6
			c0,0.1,0.1,0.2,0.2,0.2H118.9z"/>
		<path class="st2" d="M138.8,7.3c1.8,0,3.4,1.5,3.4,3.3v10.6c0,1.8-1.5,3.3-3.4,3.3h-13.9V7.3H138.8z M139,10.6
			c0-0.1-0.1-0.2-0.2-0.2h-10.6c-0.1,0-0.2,0.1-0.2,0.2v10.6c0,0.1,0.1,0.2,0.2,0.2h10.6c0.1,0,0.2-0.1,0.2-0.2V10.6z"/>
		<path class="st2" d="M160.8,10.4h-12.7v3.9h10.2v3.2h-10.2v3.9h12.7v3.2h-15.9V7.3h15.9V10.4z"/>
	</g>
</g>
<rect id="" class="st3" width="161" height="31"/>
</svg>

                    <!--<img class="responsive-img" src="{{ url_for('static', filename='images/logo.png' ) }}" alt="">-->
                </a>
            </div>
            <div class="span8">
                <a href="#" id="mobile-menu-trigger">
                    <i class="fa fa-bars"></i>
                </a>
                <ul class="sf-menu fixed" id="menu">
                    {% if pagenumber == 1 %}
                    <li class="current">
                        {% else %}
                    <li>
                        {% endif %}
                        <a href="/services">CRM под ключ</a>
                    </li>
                    {% if pagenumber == 2 %}
                    <li class="dropdown current">
                        {% else %}
                    <li class="dropdown">
                        {% endif %}
                        <a href="/products">Продукты</a>
                        <ul>
                            <li>
                                <a href="/products/sales">BPM'online sales</a>
                            </li>
                            <li>
                                <a href="/products/marketing">BPM'online marketing</a>
                            </li>
                            <li>
                                <a href="/products/service">BPM'online service</a>
                            </li>
                        </ul>
                    </li>
                    {% if pagenumber == 3 %}
                    <li class="dropdown current">
                        {% else %}
                    <li class="dropdown">
                        {% endif %}
                        <a href="/clients">Клиенты</a>
                        <ul>
                            <li>
                                <a href="/clients/ecc">ECC</a>
                            </li>
                            <li>
                                <a href="/clients/indreamsphuket">InDreamsPhuket</a>
                            </li>
                            <li>
                                <a href="/clients/cpp">ЦПП</a>
                            </li>
                            <li>
                                <a href="/clients/biona">Биона</a>
                            </li>
                            <li>
                                <a href="/clients/pravo">ПРАВО РУ</a>
                            </li>
                            <li>
                                <a href="/clients/technokom">ТехноКом</a>
                            </li>
                        </ul>
                    </li>
                    {% if pagenumber == 4 %}
                    <li class="current">
                        {% else %}
                    <li class="">
                        {% endif %}
                        <a href="/blog">Новости</a>
                    </li>
                    {% if pagenumber == 5 %}
                    <li class=" current">
                        {% else %}
                    <li>
                        {% endif %}
                        <a href="/contact">Контакты</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div><!-- end #header -->
    {% block div %} {% endblock %}

    <div id="footer">
        <div class="row">
            <div class="span4" id="footer-widget-area-1">
                <div class="widget widget_text">
                    <h4 class="widget-title">О компании</h4>

                    <div class="textwidget">
                        <p>ByteCode — динамически развивающаяся команда профессионалов, которая занимается проектами
                            внедрения CRM-систем на платформе bpm'online на рынке СНГ. Главная цель компании — получение
                            каждым клиентом нашей компании максимальной выгоды от
                            использования системы за минимальные сроки.</p>

                        <p>Ключевая особенность наших успешных проектов — индивидуальный подход к каждой задаче и
                            детальная проработка всех возможных рисков «на берегу».</p>
                    </div>
                </div>
            </div>
            <div class="span4" id="footer-widget-area-2">
                <div class="widget widget_recent_entries">
                    <h4 class="widget-title">Новости</h4>
                    <ul>
                        {% for post in posts %}
                        <li>
                            <img src="/get_img/{{post._id}}" alt="" height="50px">
                            <a href="/blog/{{post._id}}">{{post.title}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="span4" id="footer-widget-area-4">
                <div class="widget ewf_widget_contact_info">
                    <h4 class="widget-title">Контакты</h4>
                    <ul>
                        <li>
                            	<span>
                                	<i class="ifc-home"></i>
                                </span>
                            г. Самара, ул. Санфировой 95 к. 2, офис 709
                        </li>
                        <li>
                            	<span>
                                	<i class="ifc-phone2"></i>
                                </span>
                            <a href="tel:+78462007762">+7 (846) 200 77 62</a>
                        </li>
                        <li>
                            	<span>
                                	<i class="ifc-message"></i>
                                </span>
                            <a href="mailto:info@bytecodecrm.ru">info@bytecodecrm.ru</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-bottom">
        <div class="row">
            <div class="span6" id="footer-bottom-widget-area-1">
                <div class="widget widget_text">
                    <div class="textwidget">
                        <p class="last">&copy; ByteCode 2017-2018 </p>
                    </div>
                </div>
            </div>
            <div class="span6" id="footer-bottom-widget-area-2">
                <div class="widget ewf_widget_social_media">
                    <div class="fixed">
                        <a href="https://vk.com/bytecodecrm" target="_blank" class="vk-icon social-icon">
                            <i class="fa fa-vk"></i>
                        </a>
                        <a href="https://www.facebook.com/groups/165530567356229/" target="_blank"
                           class="facebook-icon social-icon">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://twitter.com/ByteCodeCrm" target="_blank" class="twitter-icon social-icon">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="https://www.instagram.com/bytecodecrm/" target="_blank"
                           class="instagram-icon social-icon">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button data-trigger='modal' data-target='#modal-1' id="fast-call" href="#">
    <i class="ifc-phone1"></i>
</button>
<div class="nifty-modal slide-in-right" id="modal-1">
    <div class="md-content">
        <div class='headline' style="padding-bottom: 0">
            <h3>Обратный звонок</h3>
        </div>
        <div class='md-body'>
            <form class="fixed" method="post" novalidate="novalidate" onsubmit="yaCounter47409610.reachGoal('ZakazZvonka');createLead();return false;">
                <input type="text" name="name" class="question" id="nme" aria-required="true" required="required"
                       autocomplete="off"/>
                <label for="nme"><span>Ваше имя</span></label>
                <input type="text" name="name" class="question" id="phone" required="required" autocomplete="off"/>
                <label for="phone"><span>Номер телефона</span></label>
                <br>

                <div class="squaredFour">
                    <input type="checkbox" value="None" id="squaredFour" name="check" checked/>
                    <label for="squaredFour"></label>

                    <p style="padding-left: 30px;padding-top: 0;">Я даю свое согласие на обработку моих персональных
                        данных в соответствии с законом №152-ФЗ «О персональных данных» от 27.07.2006 </p>
                </div>

                <br>
                <button class="btn btn-large">Перезвоните мне</button>
            </form>
        </div>
    </div>
</div>

<div class="md-overlay"></div>

<a id="back-to-top" href="#">
    <i class="ifc-up4"></i>
</a>

<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "Bytecode",
  "url" : "https://bytecodecrm.ru",
  "sameAs" : [
    "https://vk.com/bytecodecrm",
    "https://www.facebook.com/groups/165530567356229/",
    "https://twitter.com/ByteCodeCrm"
  ]
}







</script>
<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'a9p6N13mn8';var d=document;var w=window;function l(){
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
<!-- {/literal} END JIVOSITE CODE -->
<script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/viewport/jquery.viewport.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/easing/jquery.easing.1.3.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/simpleplaceholder/jquery.simpleplaceholder.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/fitvids/jquery.fitvids.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/animations/animate.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/superfish/hoverIntent.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/superfish/superfish.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/revolutionslider/js/jquery.themepunch.tools.min.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/revolutionslider/js/jquery.themepunch.revolution.min.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/bxslider/jquery.bxslider.min.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/magnificpopup/jquery.magnific-popup.min.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/isotope/imagesloaded.pkgd.min.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/isotope/isotope.pkgd.min.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/parallax/jquery.parallax.min.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/easypiechart/jquery.easypiechart.min.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/itplayer/jquery.mb.YTPlayer.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/easytabs/jquery.easytabs.min.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/jqueryvalidate/jquery.validate.min.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/jqueryform/jquery.form.min.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/gmap/jquery.gmap.min.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/twitter/twitterfetcher.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/plugins.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/scripts.js' ) }}"></script>
<div class="switcher"></div>
<script src="{{ url_for('static', filename='js/switcher/jquery_cookie.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/switcher/switcher.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/nifty.js' ) }}"></script>
<script>
    $(window).load(function () {
        // Animate loader off screen
        $(".se-pre-con").fadeOut("slow");
        ;
    });
</script>
{% include 'core/to_crm.html'%}
</body>
</html>
