<script src="https://webtracking-v01.bpmonline.com/JS/track-cookies.js"></script>
<script src="https://webtracking-v01.bpmonline.com/JS/create-object.js"></script>
<script>

    var serviceurl = "https://bytecode.bpmonline.com/0/ServiceModel/GeneratedObjectWebFormService.svc/SaveWebFormObjectData",
            config = {
                fields: {
                    "Name": "#nme", // Имя посетителя, заполнившего форму
                    "Email": "css-selector", // Email посетителя
                    "Zip": "css-selector", // Почтовый индекс посетителя
                    "MobilePhone": "#phone", // Телефон посетителя
                    "Company": "css-selector", // Название компании
                    "Industry": "css-selector", // Отрасль компании
                    "FullJobTitle": "css-selector", // Должность посетителя
                    "UseEmail": "css-selector", // Логическое значение «да» - согласие посетителя получать email рассылки
                    "City": "css-selector", // Город
                    "Country": "css-selector", // Страна
                    "Commentary": "css-selector", // Примечание
                    "UsrTypeInquiry": "css-selector" // Тип запроса лида
                },
                landingId: "b687d84b-60d9-4a4a-98c1-ba7944bf5254",
                serviceUrl: serviceurl,
                redirectUrl: "/success_ticket"
            };
    /**
     * Функция ниже создает Лид из введенных данных.
     * Привяжите вызов этой функции к событию "onSubmit" формы или любому другому элементу события.
     * Пример: <form class="mainForm" name="landingForm" onSubmit="createLead(); return false">
     */
    function createLead() {
        landing.createLeadFromLanding(config)
    }
</script>
<script>
    /**
     * Замените выражение в кавычках "css-selector" в коде ниже значением селектора элемента на Вашей лендинговой странице.
     * Вы можете использовать #id или любой другой CSS селектор, который будет точно определять поле ввода на Вашей лендинговой странице.
     * Пример: "Email": "#MyEmailField".
     * Если Ваша лендинговая страница не содержит одного или нескольких полей из приведенных ниже – оставьте строку без изменений или удалите полностью.
     */
    var config2 = {
        fields: {
            "Name": "#name2", // Имя посетителя, заполнившего форму
            "Email": "#email2", // Email посетителя
            "Zip": "css-selector", // Почтовый индекс посетителя
            "MobilePhone": "#phone2", // Телефон посетителя
            "Company": "css-selector", // Название компании
            "Industry": "css-selector", // Отрасль компании
            "FullJobTitle": "css-selector", // Должность посетителя
            "UseEmail": "css-selector", // Логическое значение «да» - согласие посетителя получать email рассылки
            "City": "css-selector", // Город
            "Country": "css-selector", // Страна
            "Commentary": "#message2", // Примечание
            "UsrTypeInquiry": "css-selector" // Тип запроса лида
        },
        landingId: "1f5fe9bd-0546-45c2-b263-08d40641bab0",
        serviceUrl: serviceurl,
        redirectUrl: "/success_ticket"
    };
    /**
     * Функция ниже создает Лид из введенных данных.
     * Привяжите вызов этой функции к событию "onSubmit" формы или любому другому элементу события.
     * Пример: <form class="mainForm" name="landingForm" onSubmit="createLead(); return false">
     */
    function createLead2() {
        landing.createLeadFromLanding(config2)
    }
</script>