<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <caption>Новости</caption>
    <thead>
    <tr>
        <th scope="col">Картинка</th>
        <th scope="col">Заголовок</th>
        <th scope="col">Дата создания</th>
        <th scope="col">Текст</th>
        <th scope="col">
            Управление
        </th>
    </tr>
    </thead>
    <tbody>
    {% for post in posts %}
    <tr>
        <td>
            <img src="/get_img/{{post._id}}" height="70px"/>
        </td>
        <td><p style="word-wrap: break-word">{{post.title}}</p>
        </td>
        <td>{{post.created_at}}
        </td>
        <td><p style="word-wrap: break-word">{{post.text}}</p></td>
        <td>
            <a href="./blog/delete/{{post._id}}">Удалить</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<center>
    <div style="margin-top:100px"><a href="./blog/create">Добавить пост</a></div>
</center>
</body>
<style>
    body {
        font-family: "Open Sans", sans-serif;
        line-height: 1.25;
    }

    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
    }

    table caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
    }

    table tr {
        background: #f8f8f8;
        border: 1px solid #ddd;
        padding: .35em;
    }

    table th,
    table td {
        padding: .625em;
        text-align: center;
    }

    table th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
    }

    @media screen and (max-width: 600px) {
        table {
            border: 0;
        }

        table caption {
            font-size: 1.3em;
        }

        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }

        table td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
        }

        table td:before {
            /*
            * aria-label has no advantage, it won't be read inside a table
            content: attr(aria-label);
            */
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }

        table td:last-child {
            border-bottom: 0;
        }
    }
</style>
</html>
