{% extends "core/layout.html" %}
{% block div %}
<div id="content">

    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>
                <li data-transition="fade">

                    <img src="{{ url_for('static', filename='content/slider/key.jpg' ) }}"
                         style='filter: brightness(50%) !important;' alt="">

                    <div class="caption subtitle alt sfl"
                         data-x="60"
                         data-y="200"
                         data-speed="1000"
                         data-start="1800"
                         data-easing="easeOutExpo" itemprop="provider" itemscope
                         itemtype="http://schema.org/LocalBusiness">
                        CRM-проект под ключ —
                    </div>
                    <div class="caption text sfl"
                         data-x="60"
                         data-y="250"
                         data-speed="1000"
                         data-start="1800"
                         data-easing="easeOutExpo">
                        это проект по адаптации CRM-системы под индивидуальные потребности
                        компании,<br> что
                        помогает заказчику выстроить эффективные бизнес-процессы продаж, маркетинга,<br> сервисного
                        обслуживания.
                        Постоянная коммуникация между участниками команды <br>приводит к созданию решения, которое
                        максимально соответствует ожиданиям заказчика.
                    </div>

                    <div class="caption sfb"
                         data-x="60"
                         data-y="460"
                         data-speed="1000"
                         data-start="2200"
                         data-easing="easeOutExpo">
                        <a class="btn btn-large btn-white" href="/contact">Оставить заявку</a>
                    </div>

                </li>
            </ul>

        </div><!-- end .fullwidthbanner -->
    </div>
    <div class="row">
        <div class="span12">

            <div class="headline">

                <h3>Преимущества проекта внедрения</h3>

            </div><!-- end .headline -->

        </div><!-- end .span12 -->
    </div>
    <div class="row">
        <div class="span12">

            <div class="accordion">

                <a class="accordion-item" href="#">Анализ и проектирование работы в системе</a>

                <div class="accordion-item-content">

                    <h5>Cистемный аналитик подготовит для вас подробные проектные документы, описавыющие работу в
                        системе
                        на бизнес-языке. Прорабатываются все нюансы работы компании, чтобы на выходе система полностью
                        соответствовала требованиям бизнеса.</h5>

                </div><!-- end .accordion-item-content -->

                <a class="accordion-item" href="#">Скорость и качество работы</a>

                <div class="accordion-item-content">

                    <h5>Скорость и качество - ключевые особенности нашей команды. Персональный менеджер подготовит и
                        предоставит индивидуальные условия, а технические специалисты выполнят задачи в согласованные
                        сроки, придерживаясь неизменно высокого качества.</h5>

                </div><!-- end .accordion-item-content -->

                <a class="accordion-item" href="#">Групповое обучение пользователей системы</a>

                <div class="accordion-item-content">

                    <h5>После сдачи проекта, консультант по внедрению проведет групповое обучение для ваших сотрудников,
                        чтобы запуск системы прошел без издержек.</h5>

                </div><!-- end .accordion-item-content -->

                <a class="accordion-item" href="#">Прозрачное взаимодействие</a>

                <div class="accordion-item-content">

                    <h5>Руководитель проекта наладит четкое и прозрачное взаимодействие между вами и нашей командой
                        специалистов.</h5>

                </div><!-- end .accordion-item-content -->
            </div><!-- end .accordion -->

        </div><!-- end .span12 -->
    </div>
    <div class="row">
        <div class="span12">

            <div class="headline">

                <h3>Фазы реализации CRM-проекта</h3>

            </div><!-- end .headline -->

        </div><!-- end .span12 -->
    </div>
    <div class="row">
        <div class="span12">
            <ul class="horizontal-process-builder four-items fixed">
                <li>

                    <i class="ifc-edit"></i>

                    <div class="process-description">
                        <h3>Elaboration</h3>

                        <h5 class="textwidget">На первом этапе эксперты ByteCode вместе с вами составят календарный план
                            проекта, сформируют
                            концепцию проекта, детализируют цели и задачи.</h5>
                    </div><!-- end .process-description -->

                </li>
                <li>

                    <i class="ifc-settings3"></i>

                    <div class="process-description">
                        <h3>Execution</h3>

                        <h5 class="textwidget">Продукты bpm’online передаются клиенту несколькими поставками —
                            отдельными
                            функциональными блоками, готовыми к использованию. Каждая поставка включает техническое
                            задание, работы по адаптации системы и тестирование функциональности рабочей группой.</h5>
                    </div><!-- end .process-description -->

                </li>
                <li>

                    <i class="ifc-repeat"></i>

                    <div class="process-description">
                        <h3>Transition</h3>

                        <h5 class="textwidget">На этом этапе рабочая группа протестирует всю функциональность системы.
                            Ваши сотрудники пройдут обучение по работе в системе, и вы получаете продукт, уже полностью
                            готовый к использованию и адаптированный под ваши требования.</h5>
                    </div><!-- end .process-description -->

                </li>
                <li>

                    <i class="ifc-thumb_up"></i>

                    <div class="process-description">
                        <h3>Operation</h3>

                        <h5 class="textwidget">Вы подведете итоги и результаты проекта, подпишете акты выполненных
                            работ,
                            а эксперты bytecode проведут опрос удовлетворенности и активируют поддержку проектного
                            решения.
                        </h5>
                    </div><!-- end .process-description -->

                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="span12 text-center">

            <a class="btn btn-large" href="/contact">Заказать проект внедрения</a>

        </div><!-- end .span12 -->
    </div>
    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div>
{% endblock %}