{% extends "core/layout.html" %}
{% block div %}
<div id="content">
    <div id="page-header"
         style="background-image:url(/static/content/backgrounds/1920x250-3.jpg)">
        <div id="page-header-overlay"></div>
        <div class="row">
            <div class="span12">

                <h3>Новости</h3>

            </div><!-- end .span12 -->
        </div><!-- end .row -->
    </div>
    <div class="row">

        {% for post in posts %}
        <div class="span6">
            <div class="blog-post">

                <div class="blog-post-thumb">

                    <img src="/get_img/{{post._id}}" alt="">

                    <div class="blog-post-info">

                        {{post.day}}
                        <small>{{post.month}}</small>

                    </div><!-- end .blog-post-info -->

                </div><!-- end .blog-post-thumb -->

                <div class="blog-post-title">

                    <h4>
                        <a href="/blog/{{post._id}}">{{post.title}}</a>
                    </h4>

                </div><!-- end .blog-post-title -->

                <p class="textwidget">{{post.text}} </p>

                <a class="btn" href="/blog/{{post._id}}">Подробнее</a>

            </div><!-- end .blog-post -->
        </div>
        {% endfor %}

        <!-- end .span12 -->

    </div>
</div>
{% endblock %}