{% extends "core/layout.html" %}
{% block div %}
<div id="content">
    <div id="page-header"
         style="background-image:url(/static/content/backgrounds/1920x250-3.jpg)">
        <div id="page-header-overlay"></div>
        <div class="row">
            <div class="span12">

                <h3>Новости</h3>

            </div><!-- end .span12 -->
        </div>
    </div>
    <div class="row">
        <div class="span12">

            <div class="blog-post alt">

                <div class="blog-post-info">

                    {{single_post.day}}
                    <small>{{single_post.month}}</small>

                </div><!-- end .blog-post-info -->

                <div class="blog-post-title">

                    <h4>{{single_post.title}}</h4>


                </div><!-- end .blog-post-title -->

                <p>
                    <img class="responsive-img" src="/get_img/{{single_post._id}}" alt="">
                </p>

                <p class="textwidget" style="text-indent: 3.5em;">{{single_post.text}} </p>

                <br>


            </div>

        </div>
    </div>
</div>
{% endblock %}