{% extends "core/layout.html" %}
{% block div %}
<div id="content">

    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div id="page-header"
         style="background-image:url(/static/content/backgrounds/1920x250-3.jpg)">

        <div id="page-header-overlay"></div>

        <div class="row">
            <div class="span12">

                <h3>Контакты</h3>

            </div><!-- end .span12 -->
        </div><!-- end .row -->

    </div><!-- end #page-header -->

    <div class="row">
        <div class="span6">

            <div class="row">
                <div class="span3">

                    <div class="headline-2">

                        <h4>Адрес</h4>

                    </div><!-- end .headline-2 -->

                    <p>
                        г. Самара, ул. Санфировой 95 к. 2, офис 709
                    </p>

                </div><!-- end .span3 -->
                <div class="span3">

                    <div class="headline-2">

                        <h4>Почта</h4>

                    </div><!-- end .headline-2 -->

                    <p>
                        <a href="mailto:info@bytecodecrm.ru">info@bytecodecrm.ru</a>
                    </p>

                </div><!-- end .span3 -->
            </div><!-- end .row -->

            <br>

            <div class="row">
                <div class="span3">

                    <div class="headline-2">

                        <h4>Телефон</h4>

                        <p>
                            <a href="tel:+78462007762">+7 (846) 200 77 62</a>

                        </p>

                    </div>

                </div>
            </div>
            <div class="row">
                <div class="span3">

                    <div class="headline-2">

                        <h4>Реквизиты организации</h4>

                    </div><!-- end .headline-2 -->
                    <p>
                        ООО "БК"
                    </p>

                    <p>
                        ИНН 6312171394
                    </p>
                </div>
            </div>
        </div>
        <div class="span6">

            <div class="headline-2">

                <h4>Свяжитесь с нами</h4>

            </div><!-- end .headline-2 -->

            <form class="fixed" id="contact-form" name="contact-form" method="post"
                  onsubmit="createLead2();return false;"
                  novalidate="novalidate">
                <fieldset>
                    <div id="formstatus"></div>
                    <p>
                        <input class="span4" type="text" id="name2" name="name" value="" placeholder="Имя">
                    </p>

                    <p>
                        <input class="span4" type="text" id="email2" name="email" value="" placeholder="Email">
                    </p>

                    <p>
                        <input class="span4" type="text" id="phone2" name="phone" value="" placeholder="Телефон">
                    </p>

                    <p>
                        <textarea class="span6" id="message2" name="message" rows="3" cols="25"
                                  placeholder="Сообщение"></textarea>
                    </p>

                    <p class="last">
                        <input id="submit" type="submit" name="submit" class="btn" value="Отправить">
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}