{% extends "core/layout.html" %}
{% block div %}
<div id="page-header"
     style="background-image:url(/static/content/backgrounds/1920x250-3.jpg)">
    <div id="page-header-overlay"></div>
    <div class="row">
        <div class="span12">
            <h3>Демо</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="span4">
        <div class="portfolio-item">
            <div class="portfolio-item-preview">
                <img src="/static/images/marketing.jpg"
                     alt="">

                <div class="portfolio-item-overlay"></div>
                <div class="portfolio-item-overlay-actions">
                    <a class="portfolio-item-link" target="_blank"
                       href="https://www.terrasoft.ru/trial?product=ru-marketing&uid=177382">
                        <span>&gt;</span>
                    </a>
                </div>
            </div>
            <div class="portfolio-item-description">
                <h5 style="text-transform: capitalize">Заказать</h5>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="portfolio-item">
            <div class="portfolio-item-preview">
                <img src="/static/images/sales.jpg"
                     alt="">

                <div class="portfolio-item-overlay"></div>
                <div class="portfolio-item-overlay-actions">
                    <a class="portfolio-item-link" target="_blank"
                       href="https://www.terrasoft.ru/trial?product=sales&uid=177382">
                        <span>&gt;</span>
                    </a>
                </div>
            </div>
            <div class="portfolio-item-description">
                <h5 style="text-transform: capitalize">Заказать</h5>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="portfolio-item">
            <div class="portfolio-item-preview">
                <img src="/static/images/service.jpg"
                     alt="">

                <div class="portfolio-item-overlay"></div>
                <div class="portfolio-item-overlay-actions">
                    <a class="portfolio-item-link" target="_blank"
                       href="https://www.terrasoft.ru/trial?product=ru-service-enterprise&uid=177382">
                        <span>&gt;</span>
                    </a>
                </div>
            </div>
            <div class="portfolio-item-description">
                <h5 style="text-transform: capitalize">Заказать</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}