{% extends "core/layout.html" %}
{% block div %}
<div id="content">
    <div class="fullwidth-section" id="bg-42">
        <div class="fullwidth-section-content">
            <div class="row">
                <div class="span12">
                    <div class="headline-2">
                        <h2>Благодарим за заявку!</h2>
                    </div>
                    <h4>
                        В ближайшее время менеджеры свяжутся с Вами.
                    </h4>
                    <a class="btn btn-large" href="/">На главную</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
