{% extends "core/layout.html" %}
{% block div %}
<div id="content">

    <div class="row">
        <div class="span12">

            <div class="headline">

                <h3>Биона</h3>
                <h6>Белгород</h6>
                <img src="{{ url_for('static', filename='content/portfolio/biona.jpg' ) }}"
                     alt="">
            </div><!-- end .headline -->

        </div><!-- end .span12 -->
    </div><!-- end .row -->

    <div class="row">
        <div class="span12">

            <div class="headline-2">

                <h3>О компании</h3>

            </div><!-- end .headline-2 -->

            <p class="textwidget">Биопрепараты под торговой маркой "Biona" производит ООО "СХП "Нива", которое входит в
                группу компаний "Биона". На сегодняшний день основные разрабатываемые препараты под торговой маркой
                "Biona" предназначены для использования в растениеводстве, птицеводстве и животноводстве. Стратегией
                компании является обеспечение качественной продукцией с/х предприятий для дальнейшего улучшения качества
                жизни общества.</p>

        </div><!-- end .span12 -->
    </div>


</div><!-- end .row -->

<br><br>


<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div>
{% endblock %}