{% extends "core/layout.html" %}
{% block div %}
<div id="content">

    <div class="row">
        <div class="span12">

            <div class="headline">

                <h3>ЦПП</h3>
                <h6>Ковров</h6>
                <img src="https://www.terrasoft.ru/sites/default/files/styles/partner_dtl_logo_new/public/customers/logo/logo_cpp.png?itok=GQuES97x"
                     alt="">
            </div><!-- end .headline -->

        </div><!-- end .span12 -->
    </div><!-- end .row -->

    <div class="row">
        <div class="span12">

            <div class="headline-2">

                <h3>О компании</h3>

            </div><!-- end .headline-2 -->

            <p class="textwidget">Компания «Центр Правовой Поддержки» основана в январе 2010 года, c момента образования
                юридической компании успешно работает на рынке юридических услуг Владимирской области, предоставляя
                услуги физическим и юридическим лицам, демонстрируя высокую квалификацию и профессионализм в каждом
                судебном процессе.</p>

        </div><!-- end .span12 -->
    </div>


</div><!-- end .row -->

<br><br>


<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div>
{% endblock %}