{% extends "core/layout.html" %}
{% block div %}
<div id="content">

    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <!--<div id="page-header" style=" margin-bottom:50px;">-->

    <!--<div id="page-header-overlay"></div>-->

    <!--<div class="row">-->
    <!--<div class="span12">-->

    <!--<h3>Портфолио</h3>-->

    <!--</div>&lt;!&ndash; end .span12 &ndash;&gt;-->
    <!--</div>&lt;!&ndash; end .row &ndash;&gt;-->

    <!--</div>&lt;!&ndash; end #page-header &ndash;&gt;-->

    <div class="row">
        <div class="span12">

            <div class="headline">
                <h3>ECC</h3>
                <h6>Екатеринбург</h6>
                <img src="https://www.terrasoft.ru/sites/default/files/styles/partner_dtl_logo_new/public/customers/logo/logotipess.png?itok=4qoy_WRa"
                     alt="">
            </div><!-- end .headline -->

        </div><!-- end .span12 -->
    </div><!-- end .row -->

    <!--<div class="row">-->
    <!--<div class="span12">-->

    <!--&lt;!&ndash;<div class="images-slider">&ndash;&gt;-->

    <!--&lt;!&ndash;<div class="bx-wrapper" style="max-width: 100%; margin: 0px auto;">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 394px;">&ndash;&gt;-->
    <!--&lt;!&ndash;<ul class="slides" style="width: auto; position: relative;">&ndash;&gt;-->
    <!--&lt;!&ndash;<li style="float: none; list-style: none; position: absolute; width: 940px; z-index: 0; display: none;">&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="_content/portfolio/1170x490-1.png" alt="">&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li style="float: none; list-style: none; position: absolute; width: 940px; z-index: 0; display: none;">&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="_content/portfolio/1170x490-2.png" alt="">&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li style="float: none; list-style: none; position: absolute; width: 940px; z-index: 50; display: list-item;">&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="_content/portfolio/1170x490-3.png" alt="">&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="bx-controls bx-has-controls-direction">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next"&ndash;&gt;-->
    <!--&lt;!&ndash;href="">Next</a></div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--&lt;!&ndash;</div>&lt;!&ndash; end .images-slider &ndash;&gt;&ndash;&gt;-->

    <!--</div>&lt;!&ndash; end .span12 &ndash;&gt;-->
    <!--</div>&lt;!&ndash; end .row &ndash;&gt;-->

    <div class="row">
        <div class="span12">

            <div class="headline-2">

                <h3>О компании</h3>

            </div><!-- end .headline-2 -->

            <p class="textwidget">ООО «Единая Служба Снабжения» осуществляет сборные и комплексные поставки на
                предприятия строительной отрасли, горнодобывающего и обрабатывающего сектора экономики, а также
                обеспечивает снабжение запасными частями и оборудованием нефтедобывающие и газодобывающие компании. </p>

        </div><!-- end .span12 -->
    </div>


</div><!-- end .row -->

<br><br>


<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div>
{% endblock %}