{% extends "core/layout.html" %}
{% block div %}
<div id="content">

    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div id="page-header"
         style="background-image:url(/static/content/backgrounds/1920x250-3.jpg)">

        <div id="page-header-overlay"></div>

        <div class="row">
            <div class="span12">

                <h3>Клиенты</h3>

            </div><!-- end .span12 -->
        </div><!-- end .row -->

    </div><!-- end #page-header -->

    <div class="row">
        <div class="span4">

            <div class="portfolio-item">

                <div class="portfolio-item-preview">

                    <img src="https://www.terrasoft.ru/sites/default/files/styles/partner_dtl_logo_new/public/customers/logo/logotipess.png?itok=4qoy_WRa"
                         alt="">

                    <div class="portfolio-item-overlay"></div>

                    <div class="portfolio-item-overlay-actions">


                        <a class="portfolio-item-link" href="/clients/ecc">
                            <span>&gt;</span>
                        </a>

                    </div><!-- end .portfolio-item-overlay-actions -->

                </div><!-- end .portfolio-item-preview -->

                <div class="portfolio-item-description">

                    <h5>ECC</h5>

                </div><!-- end .portfolio-item-description -->

            </div><!-- end .portfolio-item -->

        </div><!-- end .span3 -->
        <div class="span4">

            <div class="portfolio-item">

                <div class="portfolio-item-preview">

                    <img src="https://www.terrasoft.ru/sites/default/files/styles/partner_dtl_logo_new/public/customers/logo/logo_indreamsphuket_var2.png?itok=0VGRMPBr"
                         alt="">

                    <div class="portfolio-item-overlay"></div>

                    <div class="portfolio-item-overlay-actions">


                        <a class="portfolio-item-link" href="/clients/indreamsphuket">
                            <span>&gt;</span>
                        </a>

                    </div><!-- end .portfolio-item-overlay-actions -->

                </div><!-- end .portfolio-item-preview -->

                <div class="portfolio-item-description">

                    <h5>InDreams Phuket</h5>

                </div><!-- end .portfolio-item-description -->

            </div><!-- end .portfolio-item -->

        </div><!-- end .span3 -->
        <div class="span4">

            <div class="portfolio-item">

                <div class="portfolio-item-preview">

                    <img src="https://www.terrasoft.ru/sites/default/files/styles/partner_dtl_logo_new/public/customers/logo/logo_cpp.png?itok=GQuES97x"
                         alt="">

                    <div class="portfolio-item-overlay"></div>

                    <div class="portfolio-item-overlay-actions">


                        <a class="portfolio-item-link" href="/clients/cpp">
                            <span>&gt;</span>
                        </a>

                    </div><!-- end .portfolio-item-overlay-actions -->

                </div><!-- end .portfolio-item-preview -->

                <div class="portfolio-item-description">

                    <h5>ЦПП</h5>

                </div><!-- end .portfolio-item-description -->

            </div><!-- end .portfolio-item -->

        </div><!-- end .span3 -->

    </div>
    <div class="row">
        <div class="span4">

            <div class="portfolio-item">

                <div class="portfolio-item-preview">

                    <img src="{{ url_for('static', filename='content/portfolio/biona.jpg' ) }}"
                         alt="" height="304">

                    <div class="portfolio-item-overlay"></div>

                    <div class="portfolio-item-overlay-actions">


                        <a class="portfolio-item-link" href="/clients/biona">
                            <span>&gt;</span>
                        </a>

                    </div><!-- end .portfolio-item-overlay-actions -->

                </div><!-- end .portfolio-item-preview -->

                <div class="portfolio-item-description">

                    <h5>Биона</h5>

                </div><!-- end .portfolio-item-description -->

            </div><!-- end .portfolio-item -->

        </div><!-- end .span3 -->
        <div class="span4">

            <div class="portfolio-item">

                <div class="portfolio-item-preview">

                    <img src="{{ url_for('static', filename='content/portfolio/pravo.png' ) }}"
                         alt="" height="304">

                    <div class="portfolio-item-overlay"></div>

                    <div class="portfolio-item-overlay-actions">


                        <a class="portfolio-item-link" href="/clients/pravo">
                            <span>&gt;</span>
                        </a>

                    </div><!-- end .portfolio-item-overlay-actions -->

                </div><!-- end .portfolio-item-preview -->

                <div class="portfolio-item-description">

                    <h5>ПРАВО РУ</h5>

                </div><!-- end .portfolio-item-description -->

            </div><!-- end .portfolio-item -->

        </div><!-- end .span3 -->
        <div class="span4">

            <div class="portfolio-item">

                <div class="portfolio-item-preview">

                    <img src="{{ url_for('static', filename='content/portfolio/teсhnokom.jpg' ) }}"
                         alt="" height="304">

                    <div class="portfolio-item-overlay"></div>

                    <div class="portfolio-item-overlay-actions">


                        <a class="portfolio-item-link" href="/clients/technokom">
                            <span>&gt;</span>
                        </a>

                    </div><!-- end .portfolio-item-overlay-actions -->

                </div><!-- end .portfolio-item-preview -->

                <div class="portfolio-item-description">

                    <h5>ТехноКом</h5>

                </div><!-- end .portfolio-item-description -->

            </div><!-- end .portfolio-item -->

        </div><!-- end .span3 -->

    </div>

    <div class="row">
        <div class="span12">

            <ul class="pagination fixed">
                <!--<li class="current">-->
                <!--<a href="#">1</a>-->
                <!--</li>-->

            </ul><!-- end .pagination -->

        </div><!-- end .span12 -->
    </div><!-- end .row -->

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div>
{% endblock %}