{% extends "core/layout.html" %}
{% block div %}
<div id="content">

    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <!--<div id="page-header" style=" margin-bottom:50px;">-->

    <!--<div id="page-header-overlay"></div>-->

    <!--<div class="row">-->
    <!--<div class="span12">-->

    <!--<h3>Портфолио</h3>-->

    <!--</div>&lt;!&ndash; end .span12 &ndash;&gt;-->
    <!--</div>&lt;!&ndash; end .row &ndash;&gt;-->

    <!--</div>&lt;!&ndash; end #page-header &ndash;&gt;-->

    <div class="row">
        <div class="span12">

            <div class="headline">

                <h3>InDreams Phuket</h3>
                <h6>Москва</h6>
                <img src="https://www.terrasoft.ru/sites/default/files/styles/partner_dtl_logo_new/public/customers/logo/logo_indreamsphuket_var2.png?itok=0VGRMPBr"
                     alt="">
            </div><!-- end .headline -->

        </div><!-- end .span12 -->
    </div><!-- end .row -->

    <div class="row">
        <div class="span12">

            <!--<div class="images-slider">-->

            <!--<div class="bx-wrapper" style="max-width: 100%; margin: 0px auto;">-->
            <!--<div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 394px;">-->
            <!--<ul class="slides" style="width: auto; position: relative;">-->
            <!--<li style="float: none; list-style: none; position: absolute; width: 940px; z-index: 0; display: none;">-->
            <!--<img src="_content/portfolio/1170x490-1.png" alt="">-->
            <!--</li>-->
            <!--<li style="float: none; list-style: none; position: absolute; width: 940px; z-index: 0; display: none;">-->
            <!--<img src="_content/portfolio/1170x490-2.png" alt="">-->
            <!--</li>-->
            <!--<li style="float: none; list-style: none; position: absolute; width: 940px; z-index: 50; display: list-item;">-->
            <!--<img src="_content/portfolio/1170x490-3.png" alt="">-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--<div class="bx-controls bx-has-controls-direction">-->
            <!--<div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next"-->
            <!--href="">Next</a></div>-->
            <!--</div>-->
            <!--</div>-->

            <!--</div>&lt;!&ndash; end .images-slider &ndash;&gt;-->

        </div><!-- end .span12 -->
    </div><!-- end .row -->

    <div class="row">
        <div class="span6">

            <div class="headline-2">

                <h3>О компании</h3>

            </div><!-- end .headline-2 -->

            <p class="textwidget">InDreams Phuket – крупное агентство недвижимости, которое находится и ведет свою
                деятельность в Тайланде, на острове Пхукет с 2010 года. Каталог компании насчитывает более тысячи
                объектов недвижимости Пхукета.</p>

        </div><!-- end .span4 -->
        <div class="span6">

            <div class="headline-2">

                <h3>Описание проекта.</h3>

            </div><!-- end .headline-2 -->

            <p class="textwidget">Цель проекта внедрения: Запустить работу отдела продаж компании Indreams Phuket в СРМ
                системе на платформе bpm’online. Автоматизировать работу агентов с клиентами компании и собственниками
                объектов недвижимости. Построить глубокую аналитику по финансовым показателям и KPI менеджеров.</p>

        </div><!-- end .span4 -->
    </div>
    <div class="row">
        <div class="span12">

            <div class="headline-2">

                <h3>Задачи, реализованные в проекте</h3>

            </div><!-- end .headline-2 -->

            <ul class="diamond">
                <li>Настроена объектная модель для агентства недвижимости</li>
                <li>Оптимизирована и структурирована информация в системе об оплатах клиентов</li>
                <li>Оптимизирована и структурирована информация о взаиморасчётах с собственниками недвижимости</li>
                <li>Разработан процесс работы с клиентами и собственниками недвижимости</li>
                <li>Настроена аналитика по компании</li>
                <li>Настроена выгрузка печатных форм и отчетов компании</li>
                <li>Настроена интеграция Google календаря с BPM'online</li>
                <li>Настроены ключевые уведомления менеджеров и клиентов по событиям в системе</li>
            </ul>

        </div><!-- end .span12 -->
    </div>


</div><!-- end .row -->

<br><br>

<div class="row">
    <div class="span12">

        <div class="headline">

            <h3>Отзывы</h3>

        </div><!-- end .headline -->

    </div><!-- end .span12 -->
</div><!-- end .row -->

<div class="row">
    <div class="span12">

        <div class="testimonial alt fixed">

                        <span>
                        	<img src="{{ url_for('static', filename='content/testimonials/140x140-1.png')}}" width="140"
                                 height="140" alt="">
                        </span>

            <h4>Анна Баранова</h4>
            <h6>Директор InDreams Co., Ltd</h6>

            <blockquote>

                <h4>Компания InDreams Co., Ltd выражает огромную благодарность руководству и сотрудникам ООО "Байт-код"
                    за
                    профессионализм и оперативность, проявленные при выполнении работ по кастомизации и настройке
                    CRM-системы на платформе Real Estate. Особенно хотим отметить точность в соблюдении сроков на всех
                    этапах работ, а также поблагодарить за помощь и сопровождение на этапе внедрения доработок в
                    действие. Желаем большого будущего вашей молодой компании!</h4>

            </blockquote>

        </div><!-- end .teatimonial -->

    </div><!-- end .sapn12 -->
</div><!-- end .row -->


<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div>
{% endblock %}