{% extends "core/layout.html" %}
{% block div %}
<div id="content">

    <div class="row">
        <div class="span12">

            <div class="headline">

                <h3>Право ру</h3>
                <h6>Москва</h6>
                <img src="{{ url_for('static', filename='content/portfolio/pravo.png' ) }}"
                     alt="">
            </div><!-- end .headline -->

        </div><!-- end .span12 -->
    </div><!-- end .row -->

    <div class="row">
        <div class="span12">

            <div class="headline-2">

                <h3>О компании</h3>

            </div><!-- end .headline-2 -->

            <p class="textwidget">ПРАВО РУ — это крупнейшее юридическое медиа в России, а также лидер в разработке и
                внедрении сложных технологических решений в сфере Legal IT. Разработчик системы «Электронное
                правосудие». 9 из 10 юристов в России используют в работе сервисы Право.ру. Компания 9 лет
                автоматизирует работу как соло-юристов и адвокатов, так и крупнейших юридических компаний и правовых
                департаментов с продуктами Casebook, Caselook и Case.pro.</p>

        </div><!-- end .span12 -->
    </div>


</div><!-- end .row -->

<br><br>


<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div>
{% endblock %}