{% extends "core/layout.html" %}
{% block div %}
<div id="content">

    <div class="row">
        <div class="span12">

            <div class="headline">

                <h3>ТехноКом</h3>
                <h6>Челябинск</h6>
                <img src="{{ url_for('static', filename='content/portfolio/teсhnokom.jpg' ) }}"
                     alt="" width="200">
            </div><!-- end .headline -->

        </div><!-- end .span12 -->
    </div><!-- end .row -->

    <div class="row">
        <div class="span12">

            <div class="headline-2">

                <h3>О компании</h3>

            </div><!-- end .headline-2 -->

            <p class="textwidget">Созданная более 24 лет назад в 1993 году, Группа Компаний «ТехноКом» выросла из
                небольшой производственной фирмы в органичный конгломерат компаний, объединенных общей целью и
                удерживающих лидирующие позиции на рынке России в области разработки и производства систем ГЛОНАСС/GPS
                спутникового мониторинга транспорта, персонала, датчиков контроля топлива и программного обеспечения
                высшего уровня для любых компаний и отраслей транспорта, промышленности и сельского хозяйства</p>

        </div><!-- end .span12 -->
    </div>


</div><!-- end .row -->

<br><br>


<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div>
{% endblock %}